  .radio-tile {
    display: flex;
    flex-flow: row wrap;
  }
  .radio-tile label {
      display: flex;
      flex-direction: column;
      border: .125rem solid var(--color-primary);
      border-radius: .3125rem;
      -webkit-transition: -webkit-transform 300ms ease;
      transition: -webkit-transform 300ms ease;
      transition: transform 300ms ease;
      transition: transform 300ms ease, -webkit-transform 300ms ease;

      color:var(--color-primary);
      font-size: .65rem;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: .0625rem;
      justify-content: center;
  }
  .radio-tile div.icon {
    font-size: 1.25rem; 
    width: 100%;
  }
  .radio-tile input[type="radio"]:checked+label {
      background-color: var(--color-primary);
      color: var(--color-light);
      -webkit-transform: scale(1.1, 1.1);
      transform: scale(1.1, 1.1);
  }
  /* Necessary as of side effects with Cirrus CSS */
  .radio-tile label:last-child:not(:first-child):not(.form-group-label) {
    margin: 0.25rem;
}
label:not(:first-child):not(:last-child):not(.form-group-label) {
    margin: 0.25rem;
}