/*
  Functions
*/
/*
    Converts a given hex value to RGB.
*/
/* Spacing */
/* Fonts */
/* Grid Count */
/* Grid Percents */
/* Tab Sizes */
/* Media Queries */
/* Smaller than the defined pixels are the dimensions for that range */
/* Color scheme for Cirrus */
/* v2 Colors */
:root {
  /* v1 Colors */
  --cirrus-fg: #374054;
  --cirrus-bg: #fff;
  --cirrus-primary: #f03d4d;
  --cirrus-primary-rgb: 240, 61, 77;
  --cirrus-primary-light: #ffdadd;
  --cirrus-accent-hover: #d62939;
  --cirrus-accent-border: #c21b2b;
  --cirrus-light: #f6f9fc;
  --cirrus-light-gray: #f8f9fa;
  --cirrus-gray: #d5d7dc;
  --cirrus-dark-gray: #909090;
  --cirrus-dark: #363636;
  --cirrus-link: #5e5cc7;
  --cirrus-link-dark: #4643e2;
  --cirrus-info: #2972fa;
  --cirrus-success: #0dd157;
  --cirrus-success-rgb: 13, 209, 87;
  --cirrus-warning: #fab633;
  --cirrus-danger: #fb4143;
  --cirrus-light-hover: #d0e0ef;
  --cirrus-dark-hover: #505050;
  --cirrus-info-hover: #1062f9;
  --cirrus-link-hover: #f8f7ff;
  --cirrus-success-hover: #0cb94d;
  --cirrus-warning-hover: #f9ad1a;
  --cirrus-danger-hover: #eb0507;
  --cirrus-select-bg: rgba(0, 161, 255, 0.2);
  --cirrus-code-bg: var(--cirrus-primary-light);
  --cirrus-code-fg: #dc4753;
  --cirrus-form-group-bg: var(--cirrus-light-gray);
  --cirrus-form-group-fg: var(--cirrus-dark-gray);
  --toast-primary-bg: rgba(49, 59, 80, 0.9);
  /* Self defined Colors */
  /* Background and Foreground Colors */
  --color-bg-h: 0;
  --color-bg-s: 0%;
  --color-bg-l: 100%;
  --color-bg: hsl(var(--color-bg-h),var(--color-bg-s),var(--color-bg-l));
  --color-fg-h: 221;
  --color-fg-s: 21%;
  --color-fg-l: 27%;
  --color-fg: hsl(var(--color-fg-h),var(--color-fg-s),var(--color-fg-l));
  /* Basic Colors */
  --color-primary-h:355;
  --color-primary-s:86%;
  --color-primary-l:59%;
  --color-primary: hsl(var(--color-primary-h),var(--color-primary-s),var(--color-primary-l));
  --color-primary-light: hsl(var(--color-primary-h),var(--color-primary-s),calc(var(--color-primary-l) + 20%));
  --color-light-h: 210;
  --color-light-s: 50%;
  --color-light-l: 98%;
  --color-light: hsl(var(--color-light-h),var(--color-light-s),var(--color-light-l));
  --color-light-gray: hsl(var(--color-light-h),calc(var(--color-light-s) - 33%),var(--color-light-l));
  --color-gray-h: 223;
  --color-gray-s: 9%;
  --color-gray-l: 85%;
  --color-gray: hsl(var(--color-gray-h),var(--color-gray-s),var(--color-gray-l));
  --color-dark-h: 0;
  --color-dark-s: 0%;
  --color-dark-l: 21%;
  --color-dark: hsl(var(--color-dark-h),var(--color-dark-s),var(--color-dark-l));
  --color-dark-gray: hsl(var(--color-dark-h),var(--color-dark-s),calc(var(--color-dark-l) + 35%));
  --color-info-h: 219;
  --color-info-s: 95%;
  --color-info-l: 57%;
  --color-info: hsl(var(--color-info-h),var(--color-info-s),var(--color-info-l));
  --color-link-h: 241;
  --color-link-s: 49%;
  --color-link-l: 57%;
  --color-link: hsl(var(--color-link-h),var(--color-link-s),var(--color-link-l));
  --color-link-dark: hsl(var(--color-link-h),calc(var(--color-link-s) + 24%),var(--color-link-l));
  --color-success-h: 144;
  --color-success-s: 88%;
  --color-success-l: 44%;
  --color-success: hsl(var(--color-success-h),var(--color-success-s),var(--color-success-l));
  --color-warning-h: 39;
  --color-warning-s: 95%;
  --color-warning-l: 59%;
  --color-warning: hsl(var(--color-warning-h),var(--color-warning-s),var(--color-warning-l));
  --color-danger-h: 359;
  --color-danger-s: 96%;
  --color-danger-l: 62%;
  --color-danger: hsl(var(--color-danger-h),var(--color-danger-s),var(--color-danger-l));
  /* Hover Colors */
  --color-accent-hover: hsl(var(--color-primary-h),calc(var(--color-primary-s) - 18%),calc(var(--color-primary-l) - 8%));
  --color-accent-border: hsl(var(--color-primary-h),calc(var(--color-primary-s) - 10%),calc(var(--color-primary-l) - 16%));
  --color-light-hover: hsl(var(--color-light-h),var(--color-light-s),calc(var(--color-light-l) - 10%));
  --color-dark-hover: hsl(var(--color-dark-h),var(--color-dark-s),calc(var(--color-dark-l) + 10%));
  --color-info-hover: hsl(var(--color-info-h:),var(--color-info-s),calc(var(--color-info-l) - 5%));
  --color-link-hover: hsl(var(--color-link-h),var(--color-link-s),calc(var(--color-link-l) + 40%));
  --color-success-hover: hsl(var(--color-success-h),var(--color-success-s),calc(var(--color-success-l) - 5%));
  --color-warning-hover: hsl(var(--color-warning-h),var(--color-warning-s),calc(var(--color-warning-l)- 5%));
  --color-danger-hover: hsl(var(--color-danger-h),var(--color-danger-s),calc(var(--color-danger-l) - 15%));
  /*  Additional Colors */
  --color-select-bg: hsla(202,101%,50%,20%);
  --color-code-bg: var(--color-primary-light);
  --color-code-fg: hsl(var(--color-primary-h),calc(var(--color-primary-s) - 20%),var(--color-primary-l));
  --color-form-group-bg: var(--color-light-gray);
  --color-form-group-fg: var(--color-dark-gray);
  --toast-primary-bg: hsla(var(--color-fg-h),var(--color-fg-s),var(--color-fg-l),90%);
  --animation-duration: 0.2s;
  --focus-opacity: 0.55;
  --space-size: 0.5rem;
  --font-size-xs: 0.7rem;
  --font-size-s: 0.85rem;
  --font-size-m: 1rem;
  --font-size-l: 1.35rem;
  --font-size-xl: 1.75rem;
}

/* TABLE */
.table {
  margin-bottom: 1.5rem;
  width: 100%;
  border-collapse: collapse;
  /* Allows us to set 0 margin in table cells */
  border-spacing: 0;
  text-align: center;
  /* Text center by default */
  /* Thicker border for table header */
  /* CUSTOM STYLES */
  /* All borders */
  /* Striped table */
  /* Decrease padding */
  /* Fixed title table */
  /* Borderless Table (for inner cells) */
}
.table td,
.table th {
  border: 1px solid rgba(222, 226, 230, 0.5);
  border-width: 0 0 1px;
  padding: 0.75rem;
  vertical-align: top;
  text-align: inherit;
  margin: 0;
}
.table tr {
  transition: all 0.3s;
}
.table tr.selected {
  /* Style a selected row */
  background-color: var(--color-primary);
  color: #fff;
}
.table .table caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #dee2e6;
  text-align: left;
  caption-side: bottom;
}
.table tr:not(.selected):hover, .table.striped tbody tr:not(.selected):nth-child(even):hover {
  background-color: rgba(222, 226, 230, 0.15);
}
.table thead th,
.table thead {
  border-bottom: 2px solid rgba(222, 226, 230, 0.5);
}
.table thead th,
.table tfoot th {
  padding: 1rem;
}
.table tfoot th {
  border-top: 2px solid rgba(222, 226, 230, 0.5);
  border-bottom: none;
}
.table.bordered thead th,
.table.bordered thead {
  border-bottom: 1px solid rgba(222, 226, 230, 0.5);
}
.table.bordered td,
.table.bordered th {
  border: 1px solid rgba(219, 219, 219, 0.5);
}
.table.bordered thead td,
.table.bordered thead {
  border-width: 1px;
}
.table.striped tbody tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.05);
}
.table.small td, .table.small th {
  padding: 0.25rem 0.75rem;
}
.table.fixed-head thead {
  position: relative;
  display: block;
}
.table.fixed-head tbody {
  min-height: 200px;
  /* Set the height you want */
  display: block;
  /* Needed */
  overflow: auto;
  /* Shows scrollbars */
}
.table.fixed-head tr {
  display: table;
  width: 100%;
  /* Forces row to span container */
}
.table.borderless thead th, .table.borderless th, .table.borderless td {
  border: none;
}

/*# sourceMappingURL=table.css.map */
