/*
  Functions
*/
/*
    Converts a given hex value to RGB.
*/
/* Spacing */
/* Fonts */
/* Grid Count */
/* Grid Percents */
/* Tab Sizes */
/* Media Queries */
/* Smaller than the defined pixels are the dimensions for that range */
/* Color scheme for Cirrus */
/* v2 Colors */
:root {
  /* v1 Colors */
  --cirrus-fg: #374054;
  --cirrus-bg: #fff;
  --cirrus-primary: #f03d4d;
  --cirrus-primary-rgb: 240, 61, 77;
  --cirrus-primary-light: #ffdadd;
  --cirrus-accent-hover: #d62939;
  --cirrus-accent-border: #c21b2b;
  --cirrus-light: #f6f9fc;
  --cirrus-light-gray: #f8f9fa;
  --cirrus-gray: #d5d7dc;
  --cirrus-dark-gray: #909090;
  --cirrus-dark: #363636;
  --cirrus-link: #5e5cc7;
  --cirrus-link-dark: #4643e2;
  --cirrus-info: #2972fa;
  --cirrus-success: #0dd157;
  --cirrus-success-rgb: 13, 209, 87;
  --cirrus-warning: #fab633;
  --cirrus-danger: #fb4143;
  --cirrus-light-hover: #d0e0ef;
  --cirrus-dark-hover: #505050;
  --cirrus-info-hover: #1062f9;
  --cirrus-link-hover: #f8f7ff;
  --cirrus-success-hover: #0cb94d;
  --cirrus-warning-hover: #f9ad1a;
  --cirrus-danger-hover: #eb0507;
  --cirrus-select-bg: rgba(0, 161, 255, 0.2);
  --cirrus-code-bg: var(--cirrus-primary-light);
  --cirrus-code-fg: #dc4753;
  --cirrus-form-group-bg: var(--cirrus-light-gray);
  --cirrus-form-group-fg: var(--cirrus-dark-gray);
  --toast-primary-bg: rgba(49, 59, 80, 0.9);
  /* Self defined Colors */
  /* Background and Foreground Colors */
  --color-bg-h: 0;
  --color-bg-s: 0%;
  --color-bg-l: 100%;
  --color-bg: hsl(var(--color-bg-h),var(--color-bg-s),var(--color-bg-l));
  --color-fg-h: 221;
  --color-fg-s: 21%;
  --color-fg-l: 27%;
  --color-fg: hsl(var(--color-fg-h),var(--color-fg-s),var(--color-fg-l));
  /* Basic Colors */
  --color-primary-h:355;
  --color-primary-s:86%;
  --color-primary-l:59%;
  --color-primary: hsl(var(--color-primary-h),var(--color-primary-s),var(--color-primary-l));
  --color-primary-light: hsl(var(--color-primary-h),var(--color-primary-s),calc(var(--color-primary-l) + 20%));
  --color-light-h: 210;
  --color-light-s: 50%;
  --color-light-l: 98%;
  --color-light: hsl(var(--color-light-h),var(--color-light-s),var(--color-light-l));
  --color-light-gray: hsl(var(--color-light-h),calc(var(--color-light-s) - 33%),var(--color-light-l));
  --color-gray-h: 223;
  --color-gray-s: 9%;
  --color-gray-l: 85%;
  --color-gray: hsl(var(--color-gray-h),var(--color-gray-s),var(--color-gray-l));
  --color-dark-h: 0;
  --color-dark-s: 0%;
  --color-dark-l: 21%;
  --color-dark: hsl(var(--color-dark-h),var(--color-dark-s),var(--color-dark-l));
  --color-dark-gray: hsl(var(--color-dark-h),var(--color-dark-s),calc(var(--color-dark-l) + 35%));
  --color-info-h: 219;
  --color-info-s: 95%;
  --color-info-l: 57%;
  --color-info: hsl(var(--color-info-h),var(--color-info-s),var(--color-info-l));
  --color-link-h: 241;
  --color-link-s: 49%;
  --color-link-l: 57%;
  --color-link: hsl(var(--color-link-h),var(--color-link-s),var(--color-link-l));
  --color-link-dark: hsl(var(--color-link-h),calc(var(--color-link-s) + 24%),var(--color-link-l));
  --color-success-h: 144;
  --color-success-s: 88%;
  --color-success-l: 44%;
  --color-success: hsl(var(--color-success-h),var(--color-success-s),var(--color-success-l));
  --color-warning-h: 39;
  --color-warning-s: 95%;
  --color-warning-l: 59%;
  --color-warning: hsl(var(--color-warning-h),var(--color-warning-s),var(--color-warning-l));
  --color-danger-h: 359;
  --color-danger-s: 96%;
  --color-danger-l: 62%;
  --color-danger: hsl(var(--color-danger-h),var(--color-danger-s),var(--color-danger-l));
  /* Hover Colors */
  --color-accent-hover: hsl(var(--color-primary-h),calc(var(--color-primary-s) - 18%),calc(var(--color-primary-l) - 8%));
  --color-accent-border: hsl(var(--color-primary-h),calc(var(--color-primary-s) - 10%),calc(var(--color-primary-l) - 16%));
  --color-light-hover: hsl(var(--color-light-h),var(--color-light-s),calc(var(--color-light-l) - 10%));
  --color-dark-hover: hsl(var(--color-dark-h),var(--color-dark-s),calc(var(--color-dark-l) + 10%));
  --color-info-hover: hsl(var(--color-info-h:),var(--color-info-s),calc(var(--color-info-l) - 5%));
  --color-link-hover: hsl(var(--color-link-h),var(--color-link-s),calc(var(--color-link-l) + 40%));
  --color-success-hover: hsl(var(--color-success-h),var(--color-success-s),calc(var(--color-success-l) - 5%));
  --color-warning-hover: hsl(var(--color-warning-h),var(--color-warning-s),calc(var(--color-warning-l)- 5%));
  --color-danger-hover: hsl(var(--color-danger-h),var(--color-danger-s),calc(var(--color-danger-l) - 15%));
  /*  Additional Colors */
  --color-select-bg: hsla(202,101%,50%,20%);
  --color-code-bg: var(--color-primary-light);
  --color-code-fg: hsl(var(--color-primary-h),calc(var(--color-primary-s) - 20%),var(--color-primary-l));
  --color-form-group-bg: var(--color-light-gray);
  --color-form-group-fg: var(--color-dark-gray);
  --toast-primary-bg: hsla(var(--color-fg-h),var(--color-fg-s),var(--color-fg-l),90%);
  --animation-duration: 0.2s;
  --focus-opacity: 0.55;
  --space-size: 0.5rem;
  --font-size-xs: 0.7rem;
  --font-size-s: 0.85rem;
  --font-size-m: 1rem;
  --font-size-l: 1.35rem;
  --font-size-xl: 1.75rem;
}

/* TAGS */
.tag {
  align-items: center;
  background-color: var(--color-light);
  border-radius: 0.25rem;
  color: var(--color-fg);
  display: inline-flex;
  font-size: 75%;
  line-height: 1.5;
  min-height: 1.5rem;
  padding: 0 0.5rem;
  white-space: nowrap;
  /* Delete button for tag */
  /* Draw the delete button */
  /* TAG THEMES */
  /* Tag close button */
}
.tag.tag--large {
  font-size: 120%;
  padding: 0.25rem 0.75rem;
}
.tag.tag--xlarge {
  font-size: 150%;
  padding: 0.5rem 1.25rem;
}
.tag.tag--rounded {
  border-radius: 290486px;
}
.tag.tag__delete {
  background-color: rgba(10, 10, 10, 0.2);
  border-radius: 290486px;
  cursor: pointer;
  pointer-events: auto;
  display: inline-block;
  height: 16px;
  max-height: 16px;
  max-width: 16px;
  min-height: 16px;
  min-width: 16px;
  position: relative;
}
.tag.tag__delete:hover {
  background-color: rgba(10, 10, 10, 0.3);
}
.tag.tag__delete::before, .tag.tag__delete::after {
  background-color: var(--color-light);
  content: "";
  display: block;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -webkit-transform-origin: center center;
  transform-origin: center center;
}
.tag.tag__delete::before {
  height: 1px;
  width: 50%;
}
.tag.tag__delete::after {
  height: 50%;
  width: 1px;
}
.tag.tag__delete {
  margin-left: 0.25rem;
  margin-right: -0.125rem;
}
.tag.tag--white {
  background-color: #fff;
  color: var(--color-dark);
}
.tag.tag--black {
  background-color: #000;
  color: #fff;
}
.tag.tag--primary {
  background-color: var(--color-primary);
  color: #fff;
}
.tag.tag--gray {
  background-color: #d5d7dc;
  color: #fff;
  cursor: pointer;
}
.tag.tag--gray.tag__close-btn:hover {
  background-color: #c7cad0;
}
.tag.tag--gray.tag__close-btn:active {
  background-color: #b9bdc5;
}
.tag.tag--dark {
  background-color: #363636;
  color: #fff;
  cursor: pointer;
}
.tag.tag--dark.tag__close-btn:hover {
  background-color: #292929;
}
.tag.tag--dark.tag__close-btn:active {
  background-color: #1d1d1d;
}
.tag.tag--link {
  background-color: #5e5cc7;
  color: #fff;
  cursor: pointer;
}
.tag.tag--link.tag__close-btn:hover {
  background-color: #4b49c0;
}
.tag.tag--link.tag__close-btn:active {
  background-color: #403db3;
}
.tag.tag--info {
  background-color: #2972fa;
  color: #fff;
  cursor: pointer;
}
.tag.tag--info.tag__close-btn:hover {
  background-color: #1062f9;
}
.tag.tag--info.tag__close-btn:active {
  background-color: #0555eb;
}
.tag.tag--success {
  background-color: #0dd157;
  color: #fff;
  cursor: pointer;
}
.tag.tag--success.tag__close-btn:hover {
  background-color: #0cb94d;
}
.tag.tag--success.tag__close-btn:active {
  background-color: #0aa143;
}
.tag.tag--warning {
  background-color: #fab633;
  color: #fff;
  cursor: pointer;
}
.tag.tag--warning.tag__close-btn:hover {
  background-color: #f9ad1a;
}
.tag.tag--warning.tag__close-btn:active {
  background-color: #f4a306;
}
.tag.tag--danger {
  background-color: #fb4143;
  color: #fff;
  cursor: pointer;
}
.tag.tag--danger.tag__close-btn:hover {
  background-color: #fa282a;
}
.tag.tag--danger.tag__close-btn:active {
  background-color: #fa0f12;
}
.tag.tag__close-btn {
  padding: 0;
  position: relative;
  width: 1.5rem;
}
.tag.tag__close-btn::before, .tag.tag__close-btn::after {
  background-color: var(--color-fg);
  content: "";
  display: block;
  left: 50%;
  top: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -webkit-transform-origin: center center;
  transform-origin: center center;
}
.tag.tag__close-btn::before {
  height: 1px;
  width: 50%;
}
.tag.tag__close-btn::after {
  height: 50%;
  width: 1px;
}

/* TAG CONTAINER */
.tag-container {
  display: flex;
  flex-wrap: wrap;
  /* Add margin in between tag containers */
  /* Used for grouping tags together */
  /* Tag positioning */
}
.tag-container:not(:last-child) {
  margin-bottom: 1rem;
}
.tag-container.group-tags .tag {
  margin-right: 0 !important;
}
.tag-container.group-tags .tag:first-child {
  border-radius: 0.25rem 0 0 0.25rem;
}
.tag-container.group-tags .tag:not(:first-child):not(:last-child) {
  border-radius: 0;
}
.tag-container.group-tags .tag:last-child {
  border-radius: 0 0.25rem 0.25rem 0;
}
.tag-container .tag-container.tag-container--grouped .tag:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.tag-container .tag-container.tag-container--grouped .tag:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.tag-container.tag-container--centered {
  justify-content: center;
}
.tag-container.tag-container--centered .tag {
  margin: 0 0.25rem;
}
.tag-container.tag-container--right {
  justify-content: flex-end;
}
.tag-container.tag-container--right .tag:not(:first-child) {
  margin-left: 0.5rem;
}
.tag-container.tag-container--right .tag:not(:last-child) {
  margin-right: 0;
}
.tag-container .tag {
  margin-bottom: 0.5rem;
}
.tag-container .tag:not(:last-child) {
  margin-right: 0.5rem;
}

/* MISC */
a.tag:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=tags.css.map */
